<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management [Create]</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="../resource/js/form.js"></script>
    <link rel="stylesheet" href="../resource/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form id="create" action="../resource/php/create.php" method="post" onsubmit="return validateCreation();">
            <div class="card-body">
                <h3>Create Employee</h3>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label class="form-label" for="firstName">First Name:</label><br>
                        <input class="form-control" type="text" id="firstName" name="firstName" placeholder="Enter first name"><br>
                    </div>
                    <div class="col-md-3 form-group">
                        <label class="form-label" for="lastName">Last Name:</label><br>
                        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Enter last name"><br>
                    </div>
                    <div class="col-md-3 form-group">
                        <label class="form-label" for="email">Email:</label><br>
                        <input class="form-control" type="email" id="email" name="email" placeholder="Enter email"><br>
                    </div>
                    <div class="col-md-3 form-group">
                        <label class="form-label" for="phone">Phone:</label><br>
                        <input class="form-control" type="value" id="phone" name="phone"placeholder="Enter phone number"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="gender">Gender:</label><br>
                        <select class="form-control" name="gender">
                            <option value="M"> Male </option><br>
                            <option value="F"> Female </option><br>
                            <option value="-"> Other </option><br>
                            <option value="" style="display:none;" selected> Select a gender</option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label class="form-label" for="country">Country:</label><br>
                        <input class="form-control" type="text" id="country" name="country"  placeholder="Enter a country"><br>
                    </div>
                    <div class="col-md-3 form-group">
                        <label class="form-label" for="city">City:</label><br>
                        <input class="form-control" type="text" id="city" name="city"  placeholder="Enter a city"><br>
                    </div>
                    <div class="col-md-3 form-group">
                        <label class="form-label" for="position">Position:</label><br>
                        <input class="form-control" type="text" id="position" name="position"  placeholder="Enter position"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="hidden" id="id" name="id" value="<?php echo $id; ?>"> <br>
                        <a href="../index.php"><button class="button" type="button" value="Create Employee">Go Back</button></a>
                        <button class="button" id="createEmp" type="submit" value="Create Employee" name="create">Create Employee</button><br>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
